<footer class="container footer">
  <div class="row">
    <div class="col-lg-3 mb-3">
      <a
        class="d-inline-flex align-items-center mb-2 text-decoration-none"
        href="#"
      >
        <span style="color: white; font-weight: bolder"
          >Mi Portfolio Web 2022</span
        >
      </a>
      <ul class="list-unstyled small">
        <li class="mb-2">
          Diseñado y construido con amor y dedicación con el apoyo de Argentina
          Programa
        </li>
      </ul>
    </div>
    <div class="col">
      <h5>Links</h5>
      <ul class="list-unstyled small">
        <li class="mb-2" ><a class="nav-link active" href="#">Home</a></li>
        <li class="mb-2"><a class="nav-link active" href="#">Más sobre mí</a></li>
        <li class="mb-2"><a class="nav-link active" href="#">Intereses</a></li>
        <li class="mb-2"><a class="nav-link active" href="#">Blog</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Guías</h5>
      <ul class="list-unstyled small">
        <li><a class="nav-link active" href="#expLab">Experiencia Laboral</a></li>
        <li><a class="nav-link active" href="#educacion">Educación</a></li>
        <li><a class="nav-link active" href="#softskill">Soft Skill</a></li>
        <li><a class="nav-link active" href="#hardskill">Hard Skill</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Proyectos</h5>
      <ul class="list-unstyled small" *ngFor="let proyecto of proyectosList">
        <li class="mb-2">
          <a class="nav-link active" href="#">{{ proyecto.titulo }}</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
