 <!--Acerca de-->
 <div class="container header-main">
    <div class="card" style="width: 100%;">
        <div class="row">
            <div class="col-md-4">
                <div class="card-body">

                    <img class="img-thumbnail" id="mifoto" src={{persona.foto}} class="card-img-top"
                        alt="Mi Foto">

                    <h5 class="card-title">Acerca de</h5>
                    <h6>{{persona.nombre}}</h6>
                    <h6>{{persona.apellido}}</h6>
                    <h6>{{persona.profesion}}</h6>
                    <h6>{{persona.direccion}}</h6>
                </div>
            </div>
            <div class="col">
                <div class="card-body">

                    <h4 class="card-title">Hola, soy {{persona.nombre}} y este es mi Portfolio Web</h4>

                    <p class="card-text">{{persona.acerca_de}} </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Acerca de-->
