.container {
    padding-bottom: 15px;
}

#mifoto {
    flex: auto;
    position: relative;
    height: 25vh;
    width: 25vh;
    border-radius: 100%;
    margin-left: 30px;
    margin-top: -30%;
    padding: .25rem;
    background-color: #fff;

}

#pAcercaDe {
    font-weight: 500;
}
