<div class="container" *ngIf="expLaboral">
  <div class="row">
    <div>
      <form (ngSubmit)="EditExp()" novalidate #f="ngForm">

        <div class="form-group">
          <label for="logoExperiencia">Link del logo de la Empresa</label>
          <input
            type="text"
            class="form-control"
            id="logoExperiencia"
            name="logoExperiencia"
            [(ngModel)]="expLaboral.logo"
            required
          />
        </div>

        <div class="form-group">
          <label for="empExperiencia">Empresa</label>
          <input
            type="text"
            class="form-control"
            id="empExperiencia"
            name="empExperiencia"
            [(ngModel)]="expLaboral.empresa"
            required
          />
        </div>

        <div class="form-group">
          <label for="puestoExperiencia">Puesto: </label>
          <input
            type="text"
            class="form-control"
            id="puestoExperiencia"
            name="puestoExperiencia"
            [(ngModel)]="expLaboral.puesto"
            required
          />
        </div>

        <div class="form-group">
          <label for="fechExperiencia">Periodo trabajado:</label>
          <input
            type="text"
            class="form-control"
            id="fechExperiencia"
            name="fechExperiencia"
            [(ngModel)]="expLaboral.fecha"
            required
          />
        </div>

        <div class="form-group">
          <label for="descExperiencia">Descripcion del puesto</label>
          <input
            type="text"
            class="form-control"
            id="descExperiencia"
            name="descExperiencia"
            [(ngModel)]="expLaboral.descripcion"
            required
          />
        </div>

        <button class="btn btn-success">Editar</button>
      </form>
    </div>
  </div>
</div>
