<!--Experiencia Laboral-->

<div class="container expyedu">
  <div class="card" style="width: 100%">
    <div class="row">
      <div class="col">
        <ul class="list-group list-group-item">
          <h5 id="expLab">Experiencia Laboral</h5>

          <div>
            <button
              type="button"
              class="btn btn-success"
              routerLink="/nuevaexp"
              *ngIf="isLogged"
            >
              Agregar experiencia
            </button>
          </div>

          <li
            *ngFor="let experiencia of expLaboralList"
            class="list-group-item"
          >
            <ul>
              <img
                src="{{ experiencia.logo }}"
                style="width: 100px"
                alt="logo"
              />

              <li>
                <label><mark>Empresa: </mark></label>{{ experiencia.empresa }}
              </li>
              <li>
                <label><mark>Puesto: </mark></label>{{ experiencia.puesto }}
              </li>
              <li>
                <label><mark>Período: </mark></label>{{ experiencia.fecha }}
              </li>
              <li>
                <label><mark>Descripción: </mark></label
                >{{ experiencia.descripcion }}
              </li>
            </ul>

            <td>
              <button
                type="button"
                class="btn btn-warning"
                routerLink="/editexp/{{ experiencia.id }}"
                *ngIf="isLogged"
              >
                <i class="bi bi-pencil-fill"></i> Editar
              </button>

              <button
                type="button"
                class="btn btn-danger"
                (click)="onEliminarExperiencia(experiencia.id)"
                style="margin-left: 5px"
                *ngIf="isLogged"
              >
                <i class="bi bi-lightning-charge-fill"></i> Eliminar
              </button>
            </td>
          </li>


        </ul>
      </div>
    </div>
  </div>
</div>

<!--/Experiencia Laboral-->
